<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Twitter</display-name>
  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>servlets.user.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>testServletMysql</servlet-name>
    <servlet-class>bd.testServletMysql</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthenticateUserServlet</servlet-name>
    <servlet-class>servlets.user.AuthenticateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendsServlet</servlet-name>
    <servlet-class>servlets.user.FriendsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <servlet-class>servlets.user.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFriends</servlet-name>
    <servlet-class>servlets.user.ListFriends</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>servlets.user.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlets.user.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMassageServlets</servlet-name>
    <servlet-class>servlets.user.ListMassageServlets</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCommentsServlets</servlet-name>
    <servlet-class>servlets.user.ListCommentsServlets</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMassageParLogin</servlet-name>
    <servlet-class>servlets.user.ListMassageParLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveMessageServlet</servlet-name>
    <servlet-class>servlets.user.RemoveMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>servlets.user.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>servlets.user.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LikeMessage</servlet-name>
    <servlet-class>servlets.user.LikeMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnLikeMessage</servlet-name>
    <servlet-class>servlets.user.UnLikeMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Isconnected</servlet-name>
    <servlet-class>servlets.user.IsconnectedServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePw</servlet-name>
    <servlet-class>servlets.user.ChangePwServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>servlets.user.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListUtilisateursservlet</servlet-name>
    <servlet-class>servlets.user.ListUtilisateursservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountLikeServlet</servlet-name>
    <servlet-class>servlets.user.CountLikeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CountMessageServlet</servlet-name>
    <servlet-class>servlets.user.CountMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServletMysql</servlet-name>
    <url-pattern>/testSQL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/souscrire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenticateUserServlet</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendsServlet</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFriendServlet</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFriends</servlet-name>
    <url-pattern>/ListFriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMassageServlets</servlet-name>
    <url-pattern>/ListMassage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCommentsServlets</servlet-name>
    <url-pattern>/listComments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMassageParLogin</servlet-name>
    <url-pattern>/listMassageParLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveMessageServlet</servlet-name>
    <url-pattern>/RemoveMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LikeMessage</servlet-name>
    <url-pattern>/LikeMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnLikeMessage</servlet-name>
    <url-pattern>/UnLikeMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Isconnected</servlet-name>
    <url-pattern>/isconnected</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePw</servlet-name>
    <url-pattern>/changePw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListUtilisateursservlet</servlet-name>
    <url-pattern>/listUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountLikeServlet</servlet-name>
    <url-pattern>/countLike</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountMessageServlet</servlet-name>
    <url-pattern>/countMessage</url-pattern>
  </servlet-mapping>
</web-app>